<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Registration</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Registration Succeeded</title>
    <link rel="stylesheet"btype="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    
   
</head>

<body>
    <div class="container">
    <div>
        <h1 class = "display 1">Add a Job! </h1>
    </div>


      <div class="d-flex justify-content-center align-items-center container ">

        <div class="row ">
      
      <form th:action="@{/studentcerts}" th:object="${studentcerts}" method="post">
        <form action="/action_page.php">


            <div class="form-group">
                <label for="certs">Add a Certification:</label>
                <input type="text" class="form-control" id="certs"
                th:field="*{certs}" >
              </div>

              <button type="submit" class="btn btn-default">Submit</button>



        </form>
    </div>

</div>
    
</div>
    
    
    </body>
    </html>