<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Seeker: A Job Search Application</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet"btype="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body>

    <!-- Header IMG --> 
    <div class="container">
    <img src="../static/images/header.jpg" class="img-fluid mt-5" alt="header" th:src="@{images/header.jpg}"/>
    </div>

    <!--Navigation Bar-->
    <div class="container">
        <ul class="nav justify-content-center" style="font-size:20pt;margin:20px 20px 20px 20px">
          <li class="nav-item">
            <a class="nav-link" style="color:#df4759" aria-current="page" href="jobs/jobPosts">Jobs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color:#df4759" href="userType">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color:#df4759" href="login">Login</a>
          </li>
        </ul>
    </div>

    <!--Search Bar --> 
      <div class="container">
        <form class="form-inline justify-content-center" style="margin:20px 20px 20px 20px">
          <i class="fas fa-search" aria-hidden="true"></i>
            <input class="form-control form-control-lg w-75" aria-label="Search Jobs">
          <a class="btn btn-danger ml-3 btn-lg">Search</a>
        </form>
      </div>


    <!--login form-->
    <div class="container justify-content-center" style="max-width:800px;">
      <form>
          <div class="form-group">
            <label for="username">Username</label>
            <input type="username" class="form-control" id="username" aria-describedby="username" placeholder="Enter username">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="password">
          </div>
          <button type="submit" class="btn btn-danger">Submit</button>
        </form>
      </div>
    
    <!--Select user type to register-->
    <div class="container text-center">
          <h2 style="color:#df4759"> I am seeking to: </h2>
          <button type="button" class="btn btn-outline-danger btn-lg">Apply for jobs</button>
          <button type="button" class="btn btn-outline-danger btn-lg">Hire for my company</button>
  </div>

</body>
</html>