
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Browse all Jobs</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{css/style.css}">
    <script src="https://use.fontawesome.com/df05b1b135.js"></script>
</head>


<body class="bg-light">
    <h1 class="text-center font-weight-bold mt-5">Browse Jobs</h1>
    <br>
    <div class="container">
        <div class="row pt-3">
            <div class="col-4">
                <div class="row">
                    <h3>Location</h3>
                    <div class="form-group has-search">
                        <span class="fa fa-search form-control-feedback"></span>
                        <input type="text" class="form-control" placeholder="Search">
                      </div>
                </div>
                <div class="row mt-5">
                    <h3>Job Category</h3>
                    <div class="box">
                        <select class="form-control">
                          <option>Option 1</option>
                          <option>Option 2</option>
                          <option>Option 3</option>
                          <option>Option 4</option>
                          <option>Option 5</option>
                        </select>
                      </div>
                </div>
                <div class="row jobTypesCheck mt-5">
                    <h3>Job Type</h3>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                          Full-Time
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                        <label class="form-check-label" for="defaultCheck2">
                          Part-Time
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
                        <label class="form-check-label" for="defaultCheck3">
                          Internship
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck4">
                        <label class="form-check-label" for="defaultCheck4">
                          Temporary
                        </label>
                      </div>
                </div>
            </div>
            <div class="col-8">
                <div th:each = "job: ${jobs}" class="card mb-3">
                    <div class="card-body">
                        <div>
                            <div class="card-title" th:text = "${job.title}"></div>
                            <h6 style="float: right;" th:text="${job.datePosted}"></h6>
                        </div>                
                        <div>
                            <h6 class="card-subtitle mb-2 text-muted" style="display: inline;">Company</h6>
                            <h6 class="card-subtitle mb-2 text-muted" style="display: inline;">Location</h6>
                            <button type="button" class="btn btn-success applyBtn"><a th:href="@{/jobs/jobView/{id}(id=${job.id})}">Apply</a></button>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
        
    </div>
                    
</body>
</html>