<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Job View</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <!-- <script src="https://use.fontawesome.com/df05b1b135.js"></script> -->
</head>
<body>
    <div class="container">
        <div class="row" th:each="j: ${job}">
                <div class="col-8">
                    <div class="mt-5">
                        <h3 th:text = "${j.title}"></h3>
                    </div>
                    <div>
                        <h6>Company</h6>
                    </div>
                    <div class="mt-5 card">
                        <h4 class="card-header">Job Description</h4>
                        <p class="textBox" th:text = "${j.desc}"></p>
                    </div>
                    <div class="mt-5 card">
                        <h4 class="card-header">Job Skill</h4>
                        <p class="textBox">There are many variations of passages of Lorem Ipsum availablethe majority have suffered alteration in some form slightlyyou need to be sure there isn't anything embarrassing hiddengenerators on the Internet tend to repeat predefined chunks as necessarymaking this the first true generator on the Internet It uses a dictionaryAbility to solve problems creatively and effectivelycombined with a handful of model sentence structuresstandard chunk of Lorem Ipsum used since the 1500s is reproduced</p>
                    </div>
                    <div class=" card mt-5">
                        <h4 class="card-header">Requirements</h4>
                        <p class="textBox" th:text="${j.requirements}">There are many variations of passages of Lorem Ipsum availablethe majority have suffered alteration in some form slightlyyou need to be sure there isn't anything embarrassing hiddengenerators on the Internet tend to repeat predefined chunks as necessarymaking this the first true generator on the Internet It uses a dictionaryAbility to solve problems creatively and effectivelycombined with a handful of model sentence structuresstandard chunk of Lorem Ipsum used since the 1500s is reproduced</p>
                    </div>
                </div>
                <div class="col-4" th:each="jt: ${jobType}">
                    <div class="mt-5 ml-3 pl-3 jobOverview">
                        <h4 class="overviewTxt pt-4">Job Overview</h4>
                        <h6 class="overviewTxt" th:inline="text">Date Posted: [[${j.datePosted}]]</h6>
                        <h6 class="overviewTxt">Location: </h6>
                        <h6 class="overviewTxt" th:inline="text">Job Type: [[${jt.type}]]</h6>
                        <div class="overviewBtn">
                            <button type="button" class="btn btn-success"><a th:href="@{/jobs/applyJob/{id}(id=${j.id})}">Apply</a></button>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</body>
</html>
