<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>List of Students</title> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/df05b1b135.js"></script>
</head>
<body>


<div class="container my-2">
    <h1>Find Your Name and Edit Your Details! Please Do not Touch Anyone Elses Information!</h1>
    <h2>Students List</h2>

    <table border="1" class= "table table-striped table-responsive-md">
        <thread>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>School</th>
                <th>Update Academics</th>
                <th> Delete Academic Profile </th>
            </tr>
        </thread>
        <tbody>
            <tr th:each="studentAcademic : ${listStudentAcademics}">
                <td th:text="${studentAcademic.student.fname}"></td>
                <td th:text="${studentAcademic.student.lname}"></td>
                <td th:text="${studentAcademic.universityName}"></td>
                <td> <a th:href="@{/editacademic/{id}(id=${studentAcademic.id})}"
                    class = "btn btn-primary" >Update Academics</a> </td>
                    <td> <a th:href="@{/deleteacademic{id}(id=${studentAcademic.id})}"
                        class = "btn btn-primary">Delete Academic Info</a> </td>
            </tr>

            

        </tbody>
    </table>
</div>


</body>
</html>