<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
        integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>

<body>
  <!-- Header IMG --> 
    <div class="container">
      <img src="../static/images/header.jpg" class="img-fluid mt-5" alt="header" th:src="@{images/header.jpg}"/>
    </div>

  <!--Navigation Bar-->
    <div class="container">
      <ul class="nav justify-content-center" style="font-size:20pt;margin:20px 20px 20px 20px">
        <li class="nav-item">
          <a class="nav-link" style="color:#df4759" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color:#df4759" aria-current="page" href="/jobsListing">Jobs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color:#df4759" href="/choose_user">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color:#df4759" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color:#df4759" href="/editstudent">Edit Profile!</a>
        </li>
      </ul>
    </div>

  <!--Greeting--> 
  <div class="container">
    <h6 style="margin-left:300px;;" th:inline="text"> Welcome [[${student.fname}]]! </h6>
  </div>
  
  <!--Search Bar --> 
    <div class="container">
      <form th:action="@{/searchResults}" class="form-inline justify-content-center" style="margin:20px 20px 20px 20px">
        <i class="fas fa-search" aria-hidden="true"></i>
          <input class="form-control form-control-lg w-75" aria-label="Search Jobs" type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" required>
        <input type="submit" value="Search" class="btn btn-danger ml-3 btn-lg"/>
      </form>
    </div>
  

<!-- Submitted Applications -->
<div class ="container">
<table class="table table-hover table-bordered" style="margin:20px 20px 20px 20px">
  <thead>
	<p class="text-center mt-3"><b>Submitted Applications</b></p>
    <tr>
      <th scope="col">Application ID</th>
      <th scope="col">Application Date</th>
      <th scope="col">Status</th>
    </tr>
  </thead>  
  <!-- include foreach loop to retrieve all applications submitted by studentID -->
  <tbody>
    <tr th:each="app:${apps}">
      <th scope="row" th:text="${app.applicationID}"></th>
      <td th:text="${app.applicationDate}"></td>
      <td th:text="${app.applicationStatus}"></td>
    </tr>
  </tbody>
</table>
<div>

<!--Student Academics-->
<div class="container justify justify-content-center" style="margin:20px 20px 20px 20px">
  <div class="card">
    <div class="card-header">
      Education
    </div>
    <div class="card-body">
      <h5 class="card-title" th:inline="text">[[${academics.universityName}]]</h5>
      <p class="card-text" th:inline="text"><i> <b>[[${academics.major}]],</b> [[${academics.gpa}]]</i></p>
      <p class="card-text" th:inline="text">Accomplishments: [[${academics.accomplishments}]] </p>
      <a href="#" class="btn btn-danger">Edit</a>
    </div>
  </div>

<!--Student Resume-->



<!--Student Certifications-->
<div class="container">
  <p class="text-center mt-3"><b>Certifications</b></p>
</div>

<!--Student Attributes-->
<div class="container">
  <p class="text-center mt-3"><b>Attributes</b></p>
</div>

</body>