<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Company</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{css/style.css}">
    <script src="https://use.fontawesome.com/df05b1b135.js"></script>
</head>


<body class="bg-light">
    <br>
    <div class="container">
        <div class="row pt-3">
            <div class="col-8">
                <h1 class="text-left font-weight-bold mt-5">Update Company</h1>
                <div th:each = "job: ${manageJobs}" class="card mb-3">
                    <div class="card-body">
                        <div>
                            <div class="card-title" th:text="${job.title}"></div>
                            <h6 style="float: left;" th:text="${job.datePosted}"></h6>
                        </div>                
                        <div style="float: right">
                            <button type="button" class="btn btn-outline-danger">
                            <a th:href="@{/recruiter/deleteJob/{id}(id=${job.id})}">Delete</a>
                            </button>

                        </div>
                    </div>
                </div>
                <a href="/jobs/addJob" class="btn btn-primary">Add Job</a> <br><br>
                <a href="/recruiter/recruiterProfile" class="btn btn-primary">Back to Profile</a>
            </div>
            <br>
        </div>
        
    </div>
                    
</body>
</html> 

