/*Job Listing Styles */

.card-title{
  display: inline-block;
}

.jobType{
  float: right;
}


.jobTypesCheck{
  display: block;
}

.applyBtn{
  float: right;
}

.form-group{
 width: 100%;
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.box{
  width: 100%;
}

.box select{
  width: 100%;
  color: #aaa;
}

.applyBtn a {
  color:white;
}

/* Job View Styles */

.jobOverview{
  border:1px solid;
  width: 80%;
}

.overviewTxt{
  padding:3px;
}

.textBox{
  padding:12px;
}

.overviewBtn{
  padding: 15px;
  text-align: center;
}

.overviewBtn a{
  color: white;
}